body {
  background-color: #EAD3C9;
}
header h1{
  text-align: center;
  color: white;
}
a:link{
  color:none;
  text-decoration: none;
}
button{
  height: 80px;
  width: 80px;
  text-align: center;
  border-radius: .5em;
  text-decoration: none;
  color: white;
}


.container {
  background-color: #7DA8A2;
  height: 600px;
  width: 70%;
  opacity: .7;
  border-radius: 3em;
}

.catDog{
  text-align: center;
  padding: 2em;
  color: white;

}



.center{
  display: inline;
  text-align: center;
}

.404 h1{
  display: inline;
  text-align: center;

}
